@model HaberSitesi.Entities.Concrete.Writer
@{
    ViewBag.Title = "YazarEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Yazar Ekle</h4>
<br />
@using (Html.BeginForm("YazarEkle", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yazar Resim")
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterImage)
        <br />
        @Html.Label("Yazar Adı")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName)
        <br />
        @Html.Label("Yazar Soyadı")
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterSurname)
        <br />
        @Html.Label("Yazar Email")
        @Html.TextBoxFor(x => x.WriterEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterEmail)
        <br />
        @Html.Label("Yazar Şifre")
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterPassword)
        <br />
        <button class="btn btn-info">Ekle</button>
    </div>
}