@model HaberSitesi.Entities.Concrete.Writer
@{
    ViewBag.Title = "YazarDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yazar Detayı</h4>
@using (Html.BeginForm("YazarDetay", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.WriterID)
        @Html.Label("Resim")
        @Html.TextBoxFor(x => x.WriterImage, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterImage)
        <br />
        @Html.Label("Ad")
        @Html.TextBoxFor(x => x.WriterName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterName)
        <br />
        @Html.Label("Soyad")
        @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterSurname)
        <br />
        @Html.Label("Email")
        @Html.TextBoxFor(x => x.WriterEmail, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterEmail)
        <br />
        @Html.Label("Şifre")
        @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterPassword)
        <br />
        <button class="btn btn-warning" type="submit">Güncelle</button>
    </div>
}